.projects-div-stream {
  height: 85vh;
  margin-top: 90px;
  margin-left: 5px;
  margin-right: 5px;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects-div-stream .arc-buttons {
  display: flex;
  gap: 8px;
  flex-direction: row;
  margin-bottom: 8px;
}
.projects-div-stream .arc-buttons button {
  font-size: 18px;
  padding: 0 10px;
  background: white;
  border: black 1px solid;
  border-radius: 25px;
}
.projects-div-stream .arc-buttons button:focus {
  border-color: #2bff00;
  background: #ace67c;
  outline: none;
}
.projects-div-stream .arc-buttons button:hover {
  background: rgb(199, 199, 199);
  border: black 1px solid;
}
.projects-div-stream .compteur {
  position: absolute;
  top: 29px;
  color: white;
  text-shadow: 1px 1px 0 black;
}
.projects-div-stream .ArcSelect {
  position: absolute;
  top: 29px;
  left: 25px;
  color: white;
  text-shadow: 1px 1px 0 black;
  font-size: 25px;
}
.projects-div-stream .search-bar {
  font-family: "Fjalla One", sans-serif;
  width: 600px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: rgba(92, 92, 92, 0.5803921569);
  color: white;
}
.projects-div-stream .search-bar:focus {
  border-color: #ff0000;
  outline: none;
}
.projects-div-stream .search-bar::placeholder {
  font-size: 14px;
  color: rgb(255, 255, 255);
}
.projects-div-stream .card-container-stream {
  border-top: rgba(0, 0, 0, 0.2588235294) solid 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 98%;
  height: 80vh;
  overflow: auto;
  flex-direction: row;
}
.projects-div-stream .card-container-stream .card-stream {
  position: relative;
}
.projects-div-stream .card-container-stream .card-stream figure {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 25px;
  width: 280px;
  height: 30px;
}
.projects-div-stream .card-container-stream .card-stream figure:hover {
  animation: shadow-drop-center-stream 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.projects-div-stream .card-container-stream .card-stream figure img {
  width: 70px;
  height: 70px;
  margin: 0;
  border-radius: 100%;
  border: 3px solid #f0f0f0;
  background: #f0f0f0;
}
.projects-div-stream .card-container-stream .card-stream figure .live-status {
  width: 55px;
  text-wrap: nowrap;
  padding: 15px 5px 1px 5px;
  margin-bottom: -3px;
  background-color: #f0f0f0;
  text-align: center;
  font-size: 13px;
  color: black;
  border-radius: 25px 0px 25px 25px;
  position: absolute;
  bottom: 8px;
  right: 40px;
}
.projects-div-stream .card-container-stream .card-stream figure figcaption {
  width: 280px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding-left: 10px;
}
.projects-div-stream .card-container-stream .card-stream figure figcaption p {
  width: 250px;
  margin: 0;
}
.projects-div-stream .card-container-stream .card-stream figure figcaption p .name {
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.projects-div-stream .card-container-stream .card-stream figure figcaption p .nomrp {
  font-size: 13px;
  font-weight: 300;
  color: #5c5c5c;
}
.projects-div-stream .card-container-stream .card-stream figure figcaption p .tag {
  font-size: 13px;
  font-weight: 500;
  color: #bb1818;
}
.projects-div-stream .card-container-stream .card-stream figure figcaption a {
  position: absolute;
  top: 23px;
  right: 47px;
}
.projects-div-stream .card-container-stream .card-stream figure figcaption a:hover {
  animation: iconeTwitchanim 0.6s ease-in-out both;
}
.projects-div-stream .card-container-stream .card-stream figure figcaption a img {
  width: 45px;
  height: 45px;
  border: none;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes iconeTwitchanim {
  0% {
    transform: translateZ(0);
    filter: invert(0);
    border: none;
  }
  100% {
    transform: translateZ(100px);
    filter: invert(1);
  }
}
@keyframes shadow-drop-center-stream {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgb(255, 0, 0);
  }
}

/*# sourceMappingURL=Stream.css.map */
