.projects-div-stream {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 5px;
}
.projects-div-stream .header-stream-block {
  position: relative;
  z-index: 2;
  padding-top: 90px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.projects-div-stream .header-stream-block .ArcSelect {
  color: white;
  text-shadow: 1px 1px 0 black;
  font-size: 25px;
  margin-bottom: 5px;
}
.projects-div-stream .header-stream-block .arc-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 8px;
}
.projects-div-stream .header-stream-block .arc-buttons button {
  font-size: 18px;
  padding: 0 10px;
  background: white;
  border: black 1px solid;
  border-radius: 25px;
  cursor: pointer;
}
.projects-div-stream .header-stream-block .arc-buttons button.active {
  border-color: #2bff00;
  background: #ace67c;
  color: black;
}
.projects-div-stream .header-stream-block .arc-buttons button:hover {
  background: rgb(199, 199, 199);
}
.projects-div-stream .header-stream-block .compteur {
  color: white;
  text-shadow: 1px 1px 0 black;
  margin-bottom: 8px;
}
.projects-div-stream .header-stream-block .search-bar {
  font-family: "Fjalla One", sans-serif;
  width: 600px;
  max-width: 90vw;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: rgba(92, 92, 92, 0.5803921569);
  color: white;
}
.projects-div-stream .header-stream-block .search-bar:focus {
  border-color: #ff0000;
  outline: none;
}
.projects-div-stream .header-stream-block .search-bar::placeholder {
  font-size: 14px;
  color: white;
}
.projects-div-stream .card-container-stream {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 2px;
  border-top: rgba(0, 0, 0, 0.2588235294) solid 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 2px;
  width: 100%;
  max-width: 100%;
  padding-bottom: 80px;
}
.projects-div-stream .card-container-stream .card-stream {
  position: relative;
  padding: 5px;
}
.projects-div-stream .card-container-stream .card-stream figure {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 25px;
  width: 280px;
  height: 30px;
}
.projects-div-stream .card-container-stream .card-stream figure:hover {
  animation: shadow-drop-center-stream 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.projects-div-stream .card-container-stream .card-stream figure img {
  width: 70px;
  height: 70px;
  margin: 0;
  border-radius: 100%;
  border: 3px solid #f0f0f0;
  background: #f0f0f0;
}
.projects-div-stream .card-container-stream .card-stream figure figcaption {
  width: 280px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding-left: 10px;
  position: relative;
}
.projects-div-stream .card-container-stream .card-stream figure figcaption p {
  width: 250px;
  margin: 0;
}
.projects-div-stream .card-container-stream .card-stream figure figcaption p .name {
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.projects-div-stream .card-container-stream .card-stream figure figcaption p .nomrp {
  font-size: 13px;
  font-weight: 300;
  color: #5c5c5c;
}
.projects-div-stream .card-container-stream .card-stream figure figcaption p .tag {
  font-size: 13px;
  font-weight: 500;
  color: #bb1818;
}
.projects-div-stream .card-container-stream .card-stream figure figcaption a {
  position: absolute;
  top: 4px;
  right: 17px;
}
.projects-div-stream .card-container-stream .card-stream figure figcaption a img {
  width: 55px;
  height: 55px;
  border: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .projects-div-stream .header-stream-block .search-bar {
    width: 90%;
  }
  .projects-div-stream .card-container-stream {
    padding-bottom: 80px;
  }
  .projects-div-stream .card-container-stream .card-stream figure {
    width: 100%;
    max-width: 280px;
    height: 40px;
    padding: 10px;
  }
  .projects-div-stream .card-container-stream .card-stream figure figcaption {
    width: 100%;
  }
  .projects-div-stream .card-container-stream .card-stream figure figcaption a {
    top: 3px;
    right: 20px;
  }
  .projects-div-stream .card-container-stream .card-stream figure figcaption a img {
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 767px) {
  .projects-div-stream .header-stream-block .ArcSelect {
    font-size: 20px;
    text-align: center;
  }
  .projects-div-stream .header-stream-block .arc-buttons button {
    font-size: 14px;
    padding: 4px 8px;
  }
  .projects-div-stream .header-stream-block .compteur {
    font-size: 16px;
  }
  .projects-div-stream .header-stream-block .search-bar {
    width: 90%;
    font-size: 14px;
  }
  .projects-div-stream .card-container-stream {
    padding-bottom: 80px;
  }
  .projects-div-stream .card-container-stream .card-stream figure {
    width: 100%;
    max-width: 300px;
    height: 40px;
    padding: 10px;
  }
  .projects-div-stream .card-container-stream .card-stream figure figcaption {
    width: 100%;
  }
  .projects-div-stream .card-container-stream .card-stream figure figcaption a {
    top: 3px;
    right: 10px;
  }
  .projects-div-stream .card-container-stream .card-stream figure figcaption a img {
    width: 55px;
    height: 55px;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes shadow-drop-center-stream {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgb(255, 0, 0);
  }
}
@keyframes iconeTwitchanim {
  0% {
    transform: translateZ(0);
    filter: invert(0);
  }
  100% {
    transform: translateZ(100px);
    filter: invert(1);
  }
}

/*# sourceMappingURL=Stream.css.map */
